.card {
  border-radius: 8px;
  border: solid black 1px;
  margin-top: 30px;
}

.card--done {
  background-color: green;
}

.card__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card__info {
  text-align: left;
}

.card__title {
  margin: 0;
}

.card__description {
}

.card__checkbox-box {
  align-self: center;
}

.card__checkbox-label {
}

.card__checkbox {
  height: 30px;
  width: 30px;
}

.card__checkbox {
  background-color: lightgreen;
}
